@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Abel';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';

@import 'lib/links.css';
@import 'lib/paragraphs.css';
@import 'lib/inputs.css';
@import 'lib/buttons.css';
@import 'lib/wrap.css';
@import 'lib/header.css';
@import 'lib/header-queries.css';
@import 'lib/nav.css';
@import 'lib/logo.css';
@import 'lib/auth.css';
@import 'lib/hamburger.css';
@import 'lib/forms.css';
@import 'lib/h.css';
@import 'lib/text.css';
@import 'lib/icon-arrow.css';
@import 'lib/section-1.css';
@import 'lib/section-2.css';
@import 'lib/section-3.css';

@font-face {
  font-family: 'Arciform';
  src:  url('../fonts/Arciform.woff2') format('woff2'),
        url('../fonts/Arciform.woff') format('woff'),
        url('../fonts/Arciform.otf') format('otf');
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #1d2728;
}

hr {
  border: none;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 20px;
}

.disabled {
  display: none;
}

.block {
  display: block;
}

.opacity5 {
  opacity: .5;
}

.text-center {
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

.bold {
  font-weight: 400;
}

.extra-bold {
  font-weight: 700;
}
