<div class="wrap-max1140px">
  <header class='wrap-height100px row middle-xs end-sm center-xs'>
    <div class='col-xs-12' >Don't' have an account? <a [routerLink]="['/register']">Sign Up</a></div>
  </header>
</div>
<div class="wrap-max340px">
  <div class="row center-xs">
    <div class="logo">
      <a [routerLink]="['/']">
        <span class="vivid">Vivid</span>
        <span class="ciphers">Ciphers</span>
      </a>
      <span class="tag">/></span>
    </div>
  </div>
  <div class="row center-xs">
      <p class="p-intro">Log in to your account</p>
  </div>
  <form
    (ngSubmit)="onSubmit()"
    #loginForm="ngForm">
      <input
        type="email"
        style="text-align: center"
        placeholder="Email"
        name="email"
        ngNativeValidate
        [(ngModel)] = "user.email"
        required
        email>
      <input
        type="password"
        style="text-align: center"
        placeholder="Password"
        name="password"
        minlength="8"
        ngNativeValidate
        [(ngModel)] = "user.password"
        required
        password>
    <div class="row middle-xs between-xs wrap-height100px">
      <button
        class="b-green"
        type="submit"
        [disabled]="loginForm.invalid">
          Log In
      </button>
      <a [routerLink]="['/password-reset']">Forgot password?</a>
    </div>
  </form>
  <footer class="wrap-height100px row middle-xs center-xs">
    <a class="t-gray" [routerLink]="['/']">Return to previous page</a>
  </footer>
</div>
