<div class="wrap-max1140px">
  <header class='wrap-height100px row middle-xs end-sm center-xs'>
  </header>
</div>
<div class="wrap-max340px">
  <div class="row center-xs">
    <div class="logo">
      <span class="vivid">Vivid</span>
      <span class="ciphers">Ciphers</span>
      <span class="tag">/></span>
    </div>
  </div>
  <div class="row center-xs">
      <p class="p-intro">Reset Password</p>
  </div>
  <form
    (ngSubmit)="onSubmit(resetPasswordForm)"
    #resetPasswordForm="ngForm">
      <input
        type="email"
        style="text-align: center"
        placeholder="Account email"
        name="email"
        ngNativeValidate
        [(ngModel)] = "user.email"
        required
        email>
    <div class="row middle-xs between-xs wrap-height100px">
      <button
        class="b-green"
        type="submit"
        [disabled]="resetPasswordForm.invalid">
          Send reset email
      </button>
    </div>
  </form>
  <footer class="wrap-height100px row middle-xs center-xs">
    <a class="t-gray" href="#">Return to previous page</a>
  </footer>
</div>
