<div class="team">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-1 ">
      <h2 class="col-xs-12 center-xs">We are Learners<span class='t-red'>_</span></h2>
      <p class="p-intro col-xs-12 center-xs">A diverse community of designers and coders from all walks of life.</p>
      <div class="col-xs-offset-2 col-xs-8 center-lg">
        <p></p>

    <h2 class="col-xs-12 center-xs">The skills you need<span class='t-red'>_</span></h2>
    <p class="p-intro col-xs-12 center-xs">Our team specializes in all things </p>
    <p class="col-xs-offset-2 col-xs-8 center-lg"><b class='extra-bold t-green'>Our organisation</b> has a lot of people experienced in Computer Science and IT. We keep
      learning and being up to date on skills allow us to work and teach you to code from scratch for as long as you're interested
      in learning programming. We never give up and we do everything at the best level, writing clean code you can understand
      and update. Along with having a play with algorithms, never stop learning and you'll be able to build awesome programms
      or websites. Want to build a unique UI interface with amazing UX? Not a problem! We'll help you on it! Want to create
      your own game? Perfect! We would be interested in creating one as well :)

    </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5">
      <h2 class="col-xs-12 center-xs start-lg">
        Meet the Team<span class='t-red'>_</span>
      </h2>
      <div *ngIf="loading">
        <p>Hang on, were loading our team. Trust me, we're worth the wait...</p>
      </div>
      <team-listing (loading)="loading = $event"></team-listing>
    </div>
  </div>
</div>