<div class="team">
  <div class="row">
    <div class="col-xs-12 col-lg-5 col-lg-offset-1 ">
      <h2 class="col-xs-12 center-xs">We are Learners<span class='t-red'>_</span></h2>
      <p class="p-intro col-xs-12 center-xs">A diverse community of designers and coders from all walks of life.</p>
      <p class="col-xs-offset-3 col-xs-6"><b class='extra-bold t-green'>Vivid Ciphers</b> is an organisation of web developers and designers. Our developers
        constantly work on different sorts of projects, focusing on fullstack development, training and keeping their skills
        up to date. Our designers participate in Daily UI challenges.</p>

      <p class="col-xs-offset-3 col-xs-6"><b class='extra-bold t-green'>Vivid Ciphers</b> is an organisation of web developers and designers. Our developers
        constantly work on different sorts of projects, focusing on fullstack development, training and keeping their skills
        up to date. Our designers participate in Daily UI challenges.</p>

      <p class="col-xs-offset-3 col-xs-6"><b class='extra-bold t-green'>Vivid Ciphers</b> is an organisation of web developers and designers. Our developers
        constantly work on different sorts of projects, focusing on fullstack development, training and keeping their skills
        up to date. Our designers participate in Daily UI challenges.</p>

    </div>
    <div class="col-xs-12 col-lg-5">
      <h2 class="col-xs-12 center-xs start-lg">
        Meet the Team<span class='t-red'>_</span>
      </h2>
        <div *ngIf="loading">
          <p>Hang on, were loading our team. Trust me, we're worth the wait...</p>
        </div>
        <team-listing (loading)="loading = $event"></team-listing>
    </div>
  </div>
</div>
<hr>