@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Abel';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';
@font-face {
  font-family: 'Arciform';
  src: url("../fonts/Arciform.woff2") format("woff2"), url("../fonts/Arciform.woff") format("woff"), url("../fonts/Arciform.otf") format("otf"); }

body {
  min-width: 340px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #1d2728; }

a {
  color: #0aa1a8; }

a:hover {
  text-decoration: none; }

.button {
  border: 0;
  border-radius: 30px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  outline: none; }

.button_color_green {
  background-color: #0aa1a8; }

.button_color_green:hover {
  background-color: #13b4be; }

.button_color_green:active {
  background-color: #0aa1a8; }

.button_size_m {
  width: 150px; }

.container {
  width: 100%;
  margin: 0 auto; }

.container_width_s {
  max-width: 340px; }

.container__form_margin {
  margin: 30px 0; }

.container__logotype_lineheight {
  line-height: 135px; }

.footer__returnlink {
  margin: 60px 0; }

.header__login {
  line-height: 100px;
  margin-right: 60px; }

.input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  background-color: #e5e5e5;
  line-height: 45px;
  width: 300px;
  padding: 0 20px;
  outline: none; }

.form__button_registration {
  margin-top: 40px; }

.form__input {
  margin: 12px 0; }

.logotype {
  font-size: 30px; }

.logotype_align_center {
  text-align: center; }

.logotype_ciphers {
  font-family: 'Abel', sans-serif;
  color: #1d2728; }

.logotype_tag {
  font-family: 'Abel', sans-serif;
  color: #d8d8d8; }

.logotype_vivid {
  font-family: 'Arciform', sans-serif;
  color: #0aa1a8; }

.paragraph {
  font-weight: 300; }

.paragraph_align_center {
  text-align: center; }

.paragraph_align_right {
  text-align: right; }

.paragraph_color_gray {
  color: #9a9a9a; }

.paragraph_style_introduction {
  font-size: 20px; }

.paragraph_style_standard {
  font-size: 16px; }
