@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Abel';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';
@font-face {
  font-family: 'Arciform';
  src: url("../fonts/Arciform.woff2") format("woff2"), url("../fonts/Arciform.woff") format("woff"), url("../fonts/Arciform.otf") format("otf"); }

body {
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #1d2728; }

a {
  color: #0aa1a8; }

a:hover {
  text-decoration: none; }

.button {
  border: 0;
  border-radius: 30px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  outline: none; }

.button_color_green {
  background-color: #0aa1a8; }

.button_color_green:hover {
  background-color: #13b4be; }

.button_color_green:active {
  background-color: #0aa1a8; }

.button_size_m {
  width: 150px; }

.container {
  width: 95%;
  margin: 0 auto; }

.container_maxwidth_1140px {
  max-width: 1140px; }

.container_maxwidth_340px {
  max-width: 340px; }

.form__button-section {
  margin-top: 25px;
  height: 100px; }

.form__input {
  margin: 12px 0; }

.header {
  height: 100px; }

.header__red-link {
  padding: 0 10px; }

.input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  background-color: #e5e5e5;
  line-height: 45px;
  width: 100%;
  outline: none; }

.link_color_red {
  color: #d05f5f; }

.paragraph {
  font-size: 16px;
  font-weight: 300; }

.paragraph_color_gray {
  color: #d8d8d8; }

.paragraph_float_right {
  float: right; }

.paragraph_form-header {
  margin: 20px 0; }

.paragraph_style_introduction {
  font-size: 20px; }

.logotype {
  font-size: 30px; }

.logotype_ciphers {
  font-family: 'Abel', sans-serif;
  color: #1d2728; }

.logotype_tag {
  font-family: 'Abel', sans-serif;
  color: #d8d8d8; }

.logotype_vivid {
  font-family: 'Arciform', sans-serif;
  color: #0aa1a8; }

.nav__tab {
  padding: 20px 7px;
  color: #1d2728;
  text-decoration: none;
  font-weight: 400; }

.nav__tab:hover {
  border-bottom: 3px solid #0aa1a8; }

.nav__tab:first-child {
  font-weight: 600;
  border-bottom: 3px solid #0aa1a8; }
