.images { 
    min-width: 120px;
}
.image-box { 
    border: 1px solid #fff;
    box-shadow: 2px 2px 10px #555555;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.image-box p { 
    padding: 5px;
}

.image-box:hover { 
    background-color: #e26868;
    color: white;
    box-shadow: none;
    border: 1px solid #e26868;
    transition: color .2s, background-color .2s, border .2s, box-shadow .2s;
}

p { 
    display: inline-block;
    padding: 0;
    margin: 0;
}

.team-member {
    margin-bottom: 40px;
}

.text-line { 
    margin-top: -10px;
    width: 0%;
}

.row:hover div hr { 
    width: 100%;
    transition: width 1s;
    background-color: #e26868;
}
