      <div class="skillset" id="skillset">
        <div class="wrap-max1140px row middle-xs">
          <h2 class="col-xs-12 center-xs">Skill set<span class='t-red'>_</span></h2>
          <p class="p-intro col-xs-12 center-xs">We have a variety of skills along its levels, we go from zero to hero.</p>
          <p class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10 start-xs"><b class='extra-bold t-green'>Our organisation</b> has a lot of people experienced in Computer Science and IT.
            We keep learning and being up to date on skills allow us to work and teach you to code from scratch for as long as you're interested in learning programming. We never give up and we do everything at the best level, writing clean code you can understand and update.
          Along with having a play with algorithms, never stop learning and you'll be able to build awesome programms or websites.
          Want to build a unique UI interface with amazing UX? Not a problem! We'll help you on it!
            Want to create your own game? Perfect! We would be interested in creating one as well :)

        </p>
          <p class="col-sm-offset-0 col-sm-5 col-xs-offset-1 col-xs-10">
            We didn't stop learning at web development, we want to know more, do more. To be able to build next generation aniviruses, browsers and know how it all works overall.
          Our developers are learning (or have started to learn) software and game development. For gamedev we are using Unity, Unreal Engine and CryEngine as the platforms to build and test stuff on.
           We are learning new frameworks and practicing our skills by doing runs on front or backend daily basis. We use discord to communicate and discuss possible solutions, projects and much more.
           And if you want to try freelance - we are happy to help.
           Wanna work with us or hire us? Be welcomed to leave a message :)
        </p>

            <div class="skills-icons col-xs-12 center-xs">

              <p style="font-size:30px"><span>Web Development</span><span class='t-turquoise'>_</span></p>

              <img src="../../assets/img/icon-html.png" alt="HTML icon">
              <img src="../../assets/img/icon-css.png" alt="CSS icon">
              <img src="../../assets/img/icon-js.png" alt="Javascript icon">
              <img src="../../assets/img/icon-jq.png" alt="jQuery icon">
              <img src="../../assets/img/icon-sass.png" alt="Sass icon">
              <img src="../../assets/img/icon-php.png" alt="Php icon">
              <img src="../../assets/img/skills/mysql-icon.png" alt="MySQL icon">
              <img src="../../assets/img/skills/api.png" alt="Api icon">
              <img src="../../assets/img/skills/csharp.png" alt="Csharp icon">
              <img src="../../assets/img/skills/cplus.png" alt="Cplus icon">
              <img src="../../assets/img/skills/ruby.png" alt="Ruby icon">
              <img style="width:150px; height:130px;" src="../../assets/img/skills/python.png" alt="Python icon">

              <hr style="background-color: #40E0D0;" />

              <p style="font-size:30px"><span>Web Design</span><span class='t-teal'>_</span></p>

              <img src="../../assets/img/skills/photoshop2.png" alt="Photoshop icon">
              <img src="../../assets/img/skills/indesign.png" alt="InDesign icon">
              <img src="../../assets/img/skills/illustrator.png" alt="Illustrator icon">
              <img src="../../assets/img/skills/corel.png" alt="Corel icon">

              <hr style="background-color: #00BFFF;" />

              <p style="font-size:30px"><span>Frameworks</span><span class='t-sky'>_</span></p>

              <img src="../../assets/img/skills/phpstorm.png" alt="PHPStorm icon">
              <img src="../../assets/img/skills/webstorm.png" alt="WebStorm icon">
              <img src="../../assets/img/skills/py.png" alt="Python framework icon">
              <img src="../../assets/img/skills/clion.png" alt="Clion icon">
              <img src="../../assets/img/skills/react.png" alt="React icon">
              <img style="width:120px; height:130px;" src="../../assets/img/skills/node.png" alt="Node js icon">
              <img style="width:180px; height:140px;margin-top:20px;"src="../../assets/img/skills/phalcon.png" alt="Phalcon icon">
              <img style="width:150px; height:150px;" src="../../assets/img/skills/laravel.png" alt="Laravel icon">
              <img style="width:150px; height:100px;" src="../../assets/img/skills/zend.png" alt="Zend icon">
              <img style="width:150px; height:150px;" src="../../assets/img/skills/angular.png" alt="Angular icon">

              <hr style="background-color: #00BFFF;" />

            </div>
        </div>
      </div>