      <div class="skillset" id="skillset">
        <div class="wrap-max1140px row middle-xs">
          <h2 class="col-xs-12 center-xs">Skill set<span class='t-red'>_</span></h2>
          <p class="p-intro col-xs-12 center-xs">We have a variety of skills along its levels, we go from zero to hero.</p>
          <p class="col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10 start-xs"><b class='extra-bold t-green'>Our organisation</b> has a lot of people experienced in Computer Science and IT.
            We keep learning and being up to date on skills allow us to work and teach you to code from scratch for as long as you're interested in learning programming. We never give up and we do everything at the best level, writing clean code you can understand and update.
          Along with having a play with algorithms, never stop learning and you'll be able to build awesome programms or websites.
          Want to build a unique UI interface with amazing UX? Not a problem! We'll help you on it!
            Want to create your own game? Perfect! We would be interested in creating one as well :)

        </p>
          <p class="col-sm-offset-0 col-sm-5 col-xs-offset-1 col-xs-10">
            We didn't stop learning at web development, we want to know more, do more. To be able to build next generation aniviruses, browsers and know how it all works overall.
          Our developers are learning (or have started to learn) software and game development. For gamedev we are using Unity, Unreal Engine and CryEngine as the platforms to build and test stuff on.
           We are learning new frameworks and practicing our skills by doing runs on front or backend daily basis. We use discord to communicate and discuss possible solutions, projects and much more.
           And if you want to try freelance - we are happy to help.
           Wanna work with us or hire us? Be welcomed to leave a message :)
        </p>

            <div class="skills-icons col-xs-12 center-xs">
             <i class="devicon-html5-plain"></i>
             <i class="devicon-css3-plain"></i>
             <i class="devicon-php-plain"></i>
             <i class="devicon-jquery-plain"></i>
             <i class="devicon-nodejs-plain"></i>
            </div>
        </div>
      </div>