<div class="row skill-section">
    <h2 class="col-xs-12 center-xs">All Things Web<span class='t-green'>_</span></h2>
    <p class="p-intro col-xs-12 center-xs">Our team specializes in all things web</p>
    <p class="col-xs-offset-2 col-xs-8 center-lg"><strong class='extra-bold'>A diverse team</strong> 
      with folks from every walk of life, Vivid Ciphers stands apart from the crowd with our mastery of web related technologies. As part of our "learn on the go" philosophy, we're always striving to achieve mastery over all web-related skills.
    </p>
  </div>

<div class="row top-xs skill-list">
    
  <div class="col-lg-offset-2 col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-html5-plain"></i>
    <p>HTML 5</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-css3-plain"></i>
    <p>CSS 3</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-php-plain"></i>
    <p>PHP</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-jquery-plain"></i>
    <p>JQUERY</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-nodejs-plain"></i>
    <p>NODEJS</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-angularjs-plain"></i>
    <p>ANGULAR</p>
  </div>
  <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-bootstrap-plain"></i>
    <p>BOOTSTRAP</p>
  </div>
    <div class="col-lg-1 col-xs-12 center-xs skill-container">
    <i class="devicon-sass-original"></i>
    <p>SASS</p>
  </div>

  </div>
  