      <div class="introduction" id="introduction">
          <div class="bg-main"></div>
          <div class="bg-additional"></div>
        <div class="wrap-max1140px row middle-xs">
          <h1 class="col-xs-12 center-xs t-white">Welcome to Vivid Ciphers<span class="t-red">_</span></h1>
          <p class="p-intro col-xs-12 center-xs t-white"><strong>We are Web developers,<br />
            Who founded an organisation working as an open community,<br />
            In order to learn programming by working together and building projects.<br />
            Our Moto is "Learn on the Go"!
          </strong>
          </p>
        </div>
        <div class="icon-arrow"></div>
      </div>