 <footer>
      <div class="bg-contacts" id="contact"></div>
      <div class="wrap-max1140px row margin-top20px">
        <div class="col-sm-6 col-xs-12 margin-top20px">
          <h2 class="t-white">Contact us<span class="t-red">_</span></h2>
          <p class="t-white">We are here to answer any questions you might have about our team, projects , skills.
          Reach out to us and leave a message if you're interested in more info about us and we'll respond as soon as we can!</p>
           <p class="t-white">If you would like to wok with us, to practice your web development skills, let us know and we'll be happy to help!<br />
           If you're interested in being taught web development from scratch and always had a passion for it - leave us a message and we'll be happy to have you in the team!</p>
             <div class="social-icons">
               <a href="https://github.com/VividCiphers"><i class="fa fa-github" aria-hidden="true"></i></a>
               <a href="mailto:vividciphers@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
             </div>
        </div>
        <div class="col-sm-6 col-xs-12 contact-form">
          <form action="">
            <input class="input-short70" type="email" placeholder="Your Email">
            <textarea type="text" placeholder="Your text here"></textarea>
            <div class="row middle-xs between-xs">
              <button class="b-red">Send</button>
              <div class="drag-drop">
                <p class="t-white">
                  Need to attach a file?<br>
                  Drag it here.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </footer>