.input {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  background-color: #e5e5e5;
  line-height: 45px;
  width: 100%;
  outline: none;
}
